@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Would you like to logout of IdentityServer?</p>
</header>
<form method="post">
    <input type="hidden" name="logoutId" value="@Model.LogoutId" />
    <fieldset>
        <div class="form-group">
            <button class="btn btn-primary">Yes</button>
        </div>
    </fieldset>
</form>